
              {% if seller_status %}
                Status: Enable
                {% else %}
                Status: Disable
              {% endif %}
                <br>


              {% if study %}
                You have learned php.
                {% else %}
                You have not learned php.
              {% endif %}
                <br>


              {% if course_1 %}
                You select the {{course_1}} course.
              {% endif %}
                <br>
              {% if course_2  %}
                You select the {{course_2}} course.
              {% endif %}
                
                <br>
              {% if msg %}
                Message: {{msg}}
              {% endif %}
              