{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1 style="color:DodgerBlue;">{{ order_title }}</h1>
    </div>
  </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ text_order }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
            <div class="col-sm-12">
            {% if orders %}
            <table class="table table-bordered">
              <thead>
                <tr style="color:DodgerBlue;" class = "jumbotron">
                    <td class="text-left">Prodect Name </td>
                    <td class="text-left">Quantity </td>
                    <td class="text-left">Price of Prodect </td>
                    <td class="text-left">Tax </td>
                    <td class="text-left">Total Price </td>
                    <td class="text-left">Date </td>
                    <td class="text-center">Action</td>
                </tr>
              </thead>
              <tbody>
              {% for order in orders %}
                <tr>
                    <td class="text-left">{{order.name}}</td>
                    <td class="text-left">{{order.quantity}}</td>
                    <td class="text-left">{{order.price}}</td>
                    <td class="text-left">{{order.tax}}</td>
                    <td class="text-left">{{order.total}}</td>
                    <td class="text-left">{{order.date_added}}</td>
                    <td class="text-center">
                      <div class="btn-group"> <a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></div>
                    </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
                <h4 style="color:Red;"> There is no order in your selected range. </h4>
            {% endif %}
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}