{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_report_status" id="input-status" class="form-control">
                {% if module_report_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  

  <div class="container-fluid">
    <div>
      <h1 style="color:DodgerBlue;">{{ category_title }}</h1>
    </div>
    <div class="row">
      

      <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p style = "text-align: left" class="panel-title"> {{ text_category }}</p>
              <p style = "text-align: right" > <b>Total Category:  {{ total_category }} </b></p>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr style="color:DodgerBlue;" class = "jumbotron">
                  <td class="text-left">Category Name </td>
                  <td class="text-left">No. of Product </td>
                </tr>
              </thead>
              <tbody>
                {% if categorys %}
                {% for category in categorys %}
                <tr>
                  <td class="text-left">{{category.name}}</td>
                  <td class="text-left">{{category.product_in_category}}</td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
      </div>
      
      
      <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style="color:DodgerBlue;"> <i class="fa fa-filter"></i>{{ text_quantity }}</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="input-category" class="control-label">{{ select_category }}</label>
                <select name="category" class="form-control">
                  {% if categorys %}
                  {% for category in categorys %}
                  <option value="{{ category.category_id }}" id="input-category" class="form-control">{{ category.name }} </option>
                  {% endfor %}
                  {% endif %}
                </select>
                <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
                <input type="text" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
              </div>
              <div class="form-group text-right">
                <button type="button" id="button-quantity" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }} </button>
              </div>
            </div>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style="color:DodgerBlue;"> <i class="fa fa-filter"></i>{{ text_ordered }}</h3>
            </div>
            <div class="panel-body">
              <div class="container-fluid">
                <div class="form-group">
                  <label for="input-date-start" class="col-sm-6 control-label">{{ date_start }}</label>
                  <div class="col-sm-12">
                    <div class="input-group datetime">
                      <input type="text" name="start" value="{{ start }}" placeholder="{{ date_start }}" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-start" class="form-control" class="col-sm-2"/> <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="form-group">
                  <label for="input-date-end" class="col-sm-6 control-label">{{ date_end }}</label>
                  <div class="col-sm-12">
                    <div class="input-group datetime">
                      <input type="text" name="end" value="{{ end }}" placeholder="{{ date_end }}" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-end" class="form-control" class="col-sm-2"/> <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-right">
                <button type="button" id="button-order" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }} </button>
              </div>
            </div>
          </div>
      </div>
      
      
      
    </div>
    <hr>
  </div>
  
  
  <div class="container-fluid">
    <div>
      <h1 style="color:DodgerBlue;">{{ order_title }}</h1>
    </div>
    <div class = "row">
      
      <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p style = "text-align: left" class="panel-title"> {{ text_order }}</p>
              <p style = "text-align: right" > <b>Total Order:  {{ total_order }} </b></p>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr style="color:DodgerBlue;" class = "jumbotron">
                  <td class="text-left">Order States </td>
                  <td class="text-left">Total Order </td>
                  <td class="text-left">Total Amount </td>
                </tr>
              </thead>
              <tbody>
                {% for order_detail in order_details %}
                <tr>
                  <td class="text-left">{{order_detail.name}}</td>
                  <td class="text-left">{{order_detail.total}}</td>
                  <td class="text-left">{{order_detail.total_amount}}</td>
                </tr>
                  {% endfor%}
              </tbody>
            </table>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style="color:DodgerBlue;"><i class="fa fa-filter"></i> {{ text_order_status }}</h3>
            </div>
            <div class="panel-body">
              <div class="container-fluid">
                <div class="form-group">
                  <label for="input-date-start" class="col-sm-6 control-label">{{ date_start }}</label>
                  <div class="col-sm-12">
                    <div class="input-group datetime">
                      <input type="text" name="startdata" value="{{ startdata }}" placeholder="{{ date_start }}" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-start" class="form-control" class="col-sm-2"/> <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="form-group">
                  <label for="input-date-end" class="col-sm-6 control-label">{{ date_end }}</label>
                  <div class="col-sm-12">
                    <div class="input-group datetime">
                      <input type="text" name="enddata" value="{{ enddata }}" placeholder="{{ date_end }}" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-end" class="form-control" class="col-sm-2"/> <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class = "col-sm-12">
                <label for="input-status" class="control-label">{{ select_status }}</label>
                <select name="status" class="form-control">
                  {% if order_statuss %}
                  {% for order_status in order_statuss %}
                  <option value="{{ order_status.order_status_id }}" id="input-status" class="form-control">{{ order_status.name }} </option>
                  {% endfor %}
                  {% endif %}
                </select>
              </div>
              </div>
              <div class="form-group text-right">
                <button type="button" id="button-order-status" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }} </button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>


</div>


{{ footer }}

<script type="text/javascript"><!--
$('#button-quantity').on('click', function() {
	var url = '';

  var category = $('select[name=\'category\']').val();

	if (category) {
		url += '&category=' + encodeURIComponent(category);
	}
  
  var quantity = $('input[name=\'quantity\']').val();

	if (quantity) {
		url += '&quantity=' + encodeURIComponent(quantity);
	}
  
  	location = 'index.php?route=extension/module/report/lowstock&user_token={{ user_token }}' + url;
});
//--></script>

<script type="text/javascript"><!--
$('#button-order').on('click', function() {
	var url = '';

  var date_start = $('input[name=\'start\']').val();

	if (date_start) {
		url += '&date_start=' + encodeURIComponent(date_start);
	}
  
  var date_end = $('input[name=\'end\']').val();

	if (date_end) {
		url += '&date_end=' + encodeURIComponent(date_end);
	}
  
  	location = 'index.php?route=extension/module/report/order&user_token={{ user_token }}' + url;
});
//--></script>

<script type="text/javascript"><!--
$('#button-order-status').on('click', function() {
	var url = '';

  var date_start_filter = $('input[name=\'startdata\']').val();

	if (date_start_filter) {
		url += '&date_start_filter=' + encodeURIComponent(date_start_filter);
	}
  
  var date_end_filter = $('input[name=\'enddata\']').val();

	if (date_end_filter) {
		url += '&date_end_filter=' + encodeURIComponent(date_end_filter);
	}

  var status = $('select[name=\'status\']').val();

	if (status) {
		url += '&status=' + encodeURIComponent(status);
	}

  
  	location = 'index.php?route=extension/module/report&user_token={{ user_token }}' + url;
});
//--></script>
  <script type="text/javascript"><!--
$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 