{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1 style="color:DodgerBlue;">{{ lowstock_title }}</h1>
    </div>
  </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ text_lowstock }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
            <div class="col-sm-12">
              {% if stocks %}
            <table class="table table-bordered">
              <thead>
                <tr style="color:DodgerBlue;" class = "jumbotron">
                    <td class="text-left">Prodect Name </td>
                    <td class="text-left">Quantity of Product </td>
                </tr>
              </thead>
              <tbody>
              {% for stock in stocks %}
                <tr>
                    <td class="text-left">{{stock.name}}</td>
                    <td class="text-left">{{stock.quantity}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
              {% else %}
              <h4 style="color:Red;"> There is no Product in your selected range. </h4>
              {% endif %}
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}